@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading"><strong>Age</strong></div>
        <div class="panel-body">
            <h4>Find people</h4>
            &nbsp;<span id="errmsg"></span>
            @using (Html.BeginForm("Find", "Finder", FormMethod.Get))
            {
                <div class="form-inline">
                    <div class="form-group">
                        <input type="number" id="maxAge" name="maxAge" min="0" step="1">
                    </div>
                    <button type="submit" class="btn btn-sm btn-primary" id="js-upload-submit">Find</button>
                </div>
            }
            <hr />
        </div>
    </div>
</div>